@media screen and (max-width: 1200px){
	#top-header{
		display: flex;
		align-items: center;
		padding: 0;
	}

	#links{
		
	}

	.links-container{
		display: none;
	}

	section{
		height: fit-content;
		margin: 0 5%;
	}

	.links-parent{

	}

	/*Hamburger Section*/
	#hamburger-nav{
		display: flex;
		justify-content: flex-end;
	}
	

	.top-header-container{
		display: flex;
		justify-content: center;
		gap: 5px;
	}
	.half-line{
		display: none;
	}
}


@media screen and (max-width: 800px){
	.books-container{
		flex-direction: column;
		align-items: center;
	}
	.bars{
		display: none;
	}
	#player-coach{
		padding: 4rem;
		width: auto;
	}
	.reviews-containers-main{
		display: inline-block;
	}
	.review-containers{
		width: auto;
		margin: 10px;
	}
}





@media screen and (max-width: 600px){
	#latest{
		margin-top: 4rem;
	}

	#hamburger-nav{
		display: flex;
		justify-content: center;
	}

	.books-container{
		width: fit-content;
	}
}



/*********************************************************/
